%h2 新規会員登録
  .registrations
    = link_to step1_signup_index_path, class: "menu-right__new" do
      メールアドレスで登録する
    = link_to "", class: "menu-right__login" do
      Facebookで登録する
    = link_to "", class: "menu-right__login" do
      Googleで登録する

= render "devise/shared/links"