%section.main__contents-sub
  .mypage__user__overall
    .main__contents-sub-usericon
      = image_tag '//static.mercdn.net/thumb/members/557471576.jpg?1530996473', alt: '', height: '60', width: '60'
    .main__contents-sub-username
      Masafumi Yoshimura
    .main__contents-sub-userstatus   
      .evaluation
        評価
        .bold
          0
      .item-number
        出品数 
        .bold
          0 