%nav.bread-crumbs
  %ul.bread-crumbs-segments
    %li.bread-crumbs-segments-over
      = link_to "", class: "bread-crumbs-link" do
        %span.bread-crumbs-text
          メルカリ
      .icon-angle-right-a
        =fa_icon 'angle-right'
    %li.bread-crumbs-segments__second
      %span.bread-crumbs-text-second 
        マイページ