.footer
  .footer__body
    = link_to root_path, class: "footer__body--logo" do
      = image_tag 'logo-white.svg', alt: 'mercari', height: '33', width: '124'
    %span.footer__body--copyright
      ©︎2019 Mercari
