.contents__list__item 
  .contents__list__item__detail 
    .content__icon
      = image_tag '//static.mercdn.net/images/mercari_profile.png', alt: '', height: '48', width: '48'
    .text__describes   
      .content__text
        CM放映中！参加したら1o円分ポイント必ずもらえる！秋フェス開催中
      .time  
        .content__timeicon
          = icon 'fas', 'angle-right'
          -# = icon 'far', 'clock', class: "fa fa-clock-o"
        .content__time__describe  
          8時間前
    .icon-angle-right-a
      = icon 'fas', 'angle-right'