.side-content
  .side-content__alllists
    .mypage__property
      .mypage__property-list 
        = link_to "", class: "mypage-link-profile" do
          マイページ
          .icon-angle-right-b
            = icon 'fas', 'angle-right' 
        .mypage-non-active
          お知らせ
          .icon-angle-right-b
            = icon 'fas', 'angle-right' 
        .mypage-non-active
          やることリスト
          .icon-angle-right-b
            = icon 'fas', 'angle-right'   
      .merpay__property
        メルペイ
      .merpay__property-list 
        .merpay__property-list__profit
          .profit-text
            売上・振込申請
            .icon-angle-right-b
              = icon 'fas', 'angle-right'
          .point-text
            ポイント
            .icon-angle-right-b
              = icon 'fas', 'angle-right'
      .merpay__property
        設定
      .merpay__property-list 
        .merpay__property-list__profit
          .profit-text
            プロフィール
            .icon-angle-right-b 
              = icon 'fas', 'angle-right'
          .profit-text
            発送元・お届け先変更
            .icon-angle-right-b 
              = icon 'fas', 'angle-right'
