.bread-crumbs{
  @include bread-crumbs;
  &-segments{
    padding: 16px;
    width: 700px;
    white-space: nowrap;
    overflow: auto;
    margin: 0 125px;
    &-over{
      font-size: 14px;
      line-height: 1.2;
      display: inline-block;
      .bread-crumbs-link{
        color:$fontBlackColor;
        text-decoration: none;
      }
      .icon-angle-right-a{
        @include icon-arrow
        }
    }
  }
  .bread-crumbs-segments__second{
    font-weight: 600;
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
    }
  }   
