.main__contents-logout{
  background:$baseWhiteColor;
  min-width: 700px;
  float: right;
}

.setting__profile__text-logout{
padding: 60px 14px;
  .below-btn-logout{
    background: $iconRedColor;
    border: 1px solid $iconRedColor;
    color:$baseWhiteColor;
    margin: 16px 0 0;
    display: block;
    width: 320px;
    margin: auto;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;

  }
}