.container{
  background: #fff;
  .container__head{
    font-size: 24px;
    padding: 8px 24px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    line-height: 1.4;
    font-weight: bold;
  }
    form{ 
      .inputone{
        display: none;
      }
    .setting__profile__icon{
      padding: 72px 16px 24px;
      background: url(/images/user-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      font-size: 0;
      figure{
        display: inline-block;
        overflow: hidden;
        margin: 0px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        vertical-align: middle;
        .icon-imaageprofile{
          margin: 0px;
        }
      }
    .profile__input{
      width: 220px;
      margin: 0 0 0 8px;
      box-sizing: border-box;
      height: 48px;
      vertical-align: middle;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
        }
    }
    .setting__profile__text{
      padding: 40px 16px;
      .text-space{
        min-height: 216px;
        box-sizing: border-box;
        padding: 10px;
        display: block;
        width: 100%;
        max-width: 100%;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
        line-height: 1.5;
      }
      .below-input{
        display: none;
      }
      .below-btn{
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        margin: 16px 0 0;
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 48px;
      }
    }
  }
}