@mixin icon-arrow {
  margin: 0 8px;
  font-size: 9px;
  color: #888;
  display: inline;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: bold;
}