@mixin pulldown_birthday() {
  width: 80px;
  height: 45px;
  margin-right:3px;
  background-color: $baseWhiteColor;
  background-image:url("icon_arrow.svg");
  background-repeat:no-repeat;
  background-size:18px 15px;
  background-position:right 10px center;
}