$baseFont: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
$backGrayColor:#f5f5f5;
$fontBlackColor:#333;
$iconRedColor:#ea352d;
$baseWhiteColor:#fff;
$iconBlueColor:#0099e8;
$iconGrayColor:#ccc;
$iconDarkBlueColor:#385185;
$negativeGrayColor:#888;
$blockBorder:thin solid #eee; 
$iconGoodColor:#ef5185;
$iconNomalColor:#fba933;
$iconBadColor:#6ab5d8;
$iconFacebookColor:#385185;
$iconTwitterColor:#5d9dc9;
$iconLineColor:#00c137;
$iconPinterestColor:#aa262a;
$commentInfoBackColor:#fff6de;
$commentBtnBackColor:#aaa;