%h2 新規会員登録
.registrations
  .registration-button
    = link_to step1_signup_index_path, class: "" do
      メールアドレスで登録する
  .registration-button
    = link_to "", class: "" do
      Facebookで登録する
  .registration-button
    = link_to "", class: "" do
      Googleで登録する